@mixin inputfield($color:#444444, $bg_color:#ffffff) {
  display: inline-block;
  position: relative;

  font-weight: bold;
  font-size: 14px !important;
  line-height: 16px !important;
  text-decoration: none;
  text-shadow: none !important;
  color: $color;

  border: 1px solid $bg_color;
  border-radius: 3px !important;
  padding: 10px 15px !important;
  margin: 0;
  background: $bg_color !important;
  box-shadow: none !important;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  /*&:hover {
    background-color: darken($bg_color,10%) !important;
    color: darken($color,10%);
  }*/

  &:focus {
    border-color: #298eea !important;
  }
}

input[type="text"] {
  @include inputfield;
}

form input[type=text] {
  width: calc(80% - 32px);
}