div#main_content {
  > form > fieldset {
    &.inputs,
    &.choises {
      background: transparent !important;
      border-radius: 0;
      box-shadow: none !important;

      > legend {
        /*display: none;*/

        span {
          display: block;
          background-color: rgba(239, 239, 239, 0.71);
          background-image: none !important;
          text-shadow: #fff 0 1px 0;
          border: none;
          box-shadow: none;
          font-size: 1em;
          font-weight: bold;
          line-height: 25px;
          margin-bottom: 0;
          color: #5E6469;
          padding: 5px 10px 3px 25px;
        }
      }
    }
  }
}

form fieldset ol > li {
  padding: 10px 0;

  &.boolean { clear: both; }
  &.text { clear: both; }
  &.ckeditor { clear: both; }
  &.select { clear: both; }
  &.string { clear: both; }

  p.inline-hints {
    font-size: 0.85em;
    font-style: normal;
    color: rgba(102, 102, 102, 0.64);
    margin: 0.5em 0 0 20%;
  }

}

label.label {
  font-size: 14px !important;
}

label > input[type=checkbox] {
  width: 14px;
  height: 14px;
}

