div#sidebar {
  .sidebar_section {
    background: #ffffff;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    box-shadow: none;
    > h3 {

      background-color: #ffffff !important;
      background-image: none !important;
      border: 0 !important;
      box-shadow: none !important;
      text-shadow: none !important;

      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      color: #444444;

      margin-bottom: 0.5em;
      padding: 5px 10px 3px 10px;

    }
  }

  form {
    .filter_form_field {
      select {display: none;}
    }
    input[type=text] {
      margin-left: 0;
      width: 100%;

      &.datepicker {
        background: #fff url(/assets/active_admin/datepicker/datepicker-input-icon-d9c2bb73769af777c8a71720d29741f3a499aebd5a043e9a119bd0d9597aed47.png) no-repeat 100% 14px !important;
        padding-right: 18px !important;
        padding-left: 7px !important;
        width: 108px !important;
      }
    }
  }

  label.label {
    color: #288feb !important;
    text-align: left !important;
    padding-left: 0 !important;
  }

}