@import "elements/**/*";

body * {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
}

/* buttons: minor: добавим отступ между двумя кнопками */
fieldset.actions li.cancel {
  margin-left: 10px;
}

/* форма редактирования/создания: добавим небольшой
отступ снизу у этого поля ввода, иначе прыгает вёрстка */
li.file {
  margin-bottom: 10px !important;
}

fieldset.inputs {

  label.label {
    color: #288feb;
    height: 4.4rem !important;
    display: inline-block;
    padding: 1rem 1.4rem;
    text-align: right;
  }

}

fieldset.choices {
  legend.label {
    border: none;

    label {
      color: #288feb;
      height: 4.4rem !important;
      display: inline-block;
      padding: 0 1.4rem;
      text-align: right;
      position: relative;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.breadcrumb {
  background-color: transparent !important;
  padding-left: 0 !important;
}

ol.choices-group {
  z-index: 1 !important;
  position: relative !important;
}